body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 150px;

}
#myElement {
    font-size: 24px;
    margin-bottom: 20px;
}

.button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
}

h1 {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
    font-size: 24px;
}
.container {
    margin-top: 50px;
}

.card {
    margin-bottom: 20px;
}
